
@font-face {
    font-family: 'Grandesign';
    src: url('../fonts/Grandesign Neue Serif Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Grandesign';
    src: url('../fonts/Grandesign Neue Serif Bold Italic.ttf') format('truetype');
    font-weight: italic;
    font-style: italic;
}

@font-face {
    font-family: 'Grandesign';
    src: url('../fonts/Grandesign Neue Serif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro-Bold_13934.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-light';
    src: url('../fonts/DINPro-Light_13935.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}


@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro-Medium_13936.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
